<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Profile</h2>
    </div>
</div>
<!-- Heading -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title" style="text-align:center;font-size:30px">{{ main.name}}</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-lg-3" align="center"> <img alt="User Pic" src="assets/images/userimage.png" class="img-circle img-responsive"></div>
      <div class=" col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Username</td>
              <td>{{main.username}}</td>
            </tr>
            <tr>
              <td>Authorization</td>
              <td>{{main.authorized}}</td>
            </tr>
            <!-- DOB GENDER ADDRRESS PHONE NUMBER -->
            <tr>
              <td>Email</td>
              <td>{{main.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
